
:root{
  --primary:#ddd;
  --dark:#333;
  --light:#fff;
  --shadow:#fff;

} 
     
body{
     color:black;
     font-family: Helvetica,sans-serif,Arial;
     width:100%;
} 

  .heading{
    background:rgb(137, 137, 235);
    background-position: center;
    width:700px;
    height:150px;
    border:none;
    margin:0px auto;

  }
  .logo{
    background:rgb(137, 137, 235);
    width:150px;
    height:150px;
    border:none;
    float:left;
  }
  .text{
    color:white;
    text-align:left;
    width:550px;
    height:150px;
    border:none;
    padding:20px 20px 20px 0px;
    margin-left:100px;
  }

  section div.main{
    background:var(--primary);
    display:inline-flex;
    flex:0 auto;
    float:right;
    margin:0px;
    width:100%;
  }
  .main-text{
    margin:50px;
    padding:10px;
    font-size:14px;
  }
  section div.boxes{
    background:white;
    width:30%;
    margin:10px 0px 10px 0px;
    display:inline-flex;
    padding:5px;
    height: 230px;
  }
  section div.boxes div.box1,.box2,.box3{
    background:var(--primary);
    display:block;
    text-align:center;
    padding:10px;
    margin:0px 10px 10px 0px;
    box-shadow: var(--shadow);

  }

 section nav ul{
    padding:0;
    margin:10px;
    display:grid;
    grid-gap:10px;
    list-style:none;
    grid-template-columns: repeat(4,1fr);

  }
  section nav ul li{
    background:grey;
    text-decoration: none;

  }
  section nav li a {
    background:var(--primary);
    display:block;
    text-decoration: none;
    padding:0.8rem;
    font-size:15px;
    text-align:center;
    text-transform:uppercase;
    box-shadow: var(--shadow);
  }
  section nav ul li a:hover{
    background:var(--dark);
    color:var(--light)
  }
  section div.main,.contact,.mail{
    margin:0px 0px 10px 10px;
    background:var(--light);  
    font-size:14px;
  }
   section div.boxes{
     display:inline-block;
     
   }
   .img{
     margin:50px;
     padding:20px;
   }
  footer{
      background:grey;
      color:black;
      margin:10px;
      padding:10px;
      font-size:14px;
      text-align:center;

  }
  footer a{
    text-decoration: none;
  }